.jumbotron {
	background-image: url("./img/agrumo.jpg");
	background-position: 100% 100%;
	background-repeat: repeat;
	opacity: 0.9;
	text-shadow: 1px 1px #FFF;
}

img.resize {
    width:540px; /* you can use % */
    height: auto;
}